####################################
# macOS
####################################

.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Thumbnail / metadata files
._*
Thumbs.db
Desktop.ini


####################################
# Node.js / Next.js
####################################

# Dependencies
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Next.js build output
.next
out
.turbo

# Vercel
.vercel

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


####################################
# Editors / IDE
####################################

.vscode/
.idea/
*.swp
*.swo


####################################
# Misc
####################################

.sass-cache
venv


